{% extends "base.html" %}

{% block content %}
    <main class="container">
        {% if layout.alert %}<div class="alert">{{ layout.alert }}</div>{% endif %}
        <article class="grid">
            <div>
                {% if layout.authenticated %}
                    <hgroup>
                        <h1>Welcome {{ layout.username }}</h1>
                        <h2>{{ layout.metadata.title }}</h2>
                    </hgroup>
                    <form action="{{ url_for('logout') }}" method="POST">
                        <button type="submit" class="contrast">Logout</button>
                    </form>
                {% else %}
                    <hgroup>
                        <h1>Sign in</h1>
                        <h2>{{ layout.metadata.title }}</h2>
                    </hgroup>
                    <form action="{{ url_for('login', protocol=layout.protocol, callback=layout.callback) }}" method="POST">
                        <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="off" required>
                        <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="off" required>
                        <button type="submit" class="contrast">Login</button>
                    </form>
                {% endif %}
            </div>
            <div style="background-image: url('{{ url_for('static', filename='photo.jpg') }}')"></div>
        </article>

    </main>
{% endblock %}